h1 {
    color: rgb(26 , 110, 255);
    text-align: left;
    margin-left: 300px;
    margin-right: 700pxpx;
    margin-top:300px;
    margin-bottom: auto;
    font-size: 60px;
    font-style: normal;
}
p, p {
    color: rgb(0 , 0, 0);
    text-align: left;
    margin-left: 300px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 25px;
    font-style: normal;
}